{% extends "base.html" %}


{% block content %}
  <!-- Treant CSS and JS: https://fperucic.github.io/treant-js/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/treant-js/1.0/Treant.min.js" integrity="sha512-ADpWKsaOuAegRSoUObE1si2VF6HQJyQR3Zy44l7s6YsGA6BnPIrIwN9uKJ0rsMhtDAMFqnGZhQXMJcsWSp40pA==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js" integrity="sha512-tBzZQxySO5q5lqwLWfu8Q+o4VkTcRGOeQGVQ0ueJga4A1RKuzmAu5HXDOXLEjpbKyV7ow9ympVoa6wZLEzRzDg==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/treant-js/1.0/Treant.css" integrity="sha512-ySoXPqkgXC7K7IS5vOdi47uEpct2yJ3MkYVVVHiM7FOmdDnBUVSmB/D1ps2Pf6jBJnBMyh1EPJLpWh2uCzOLdg==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{url_for('static', path='/css/custom.css')}}"/>

  <!-- History trees custom JS -->
  <script src="{{url_for('static', path='/js/history_tree.js')}}"></script>

  {% if success["summoner_data"] %}
    <h1>
      <span class="text-primary">{{summoner_data.name}}</span>
      <img
        src="http://ddragon.leagueoflegends.com/cdn/{{settings['latest_release']}}/img/profileicon/{{summoner_data['profileIconId']}}.png"
        width="50px"></img>
    </h1>

    <h2>General data</h2>
    <ul>
      <li><b>Summoner level:</b> <span class="badge rounded-pill bg-success">{{summoner_data.summonerLevel}}</span></li>
      {% for league_data in summoner_league_data %}
        <li><b>Queue type:</b> {{league_data.queueType}}</li>
        <ul>
          <li><b>Tier:</b> {{league_data.tier}} {{league_data.rank}}</li>
          <li><b>League points (LP):</b> {{league_data.leaguePoints}}</li>
          <li><b>Win / Loss:</b> {{league_data.wins}} / {{league_data.losses}} ({{ league_data.wins_percent }} %) </li>
          {% if league_data.hotStreak %}
            <li><b>Hot streak!</b></li>
          {% endif %}
        </ul>
      {% endfor %}
    </ul>
  {% endif %}


  <div class="row">
    {% if success["last_matches"] %}
      <div class="col-7">
        <h2>Latest matches</h2>
        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th>Game ID</th>
              <th>Champion</th>
              <th>Lane</th>
              <th>Time - Date</th>
            </tr>
          </thead>
          <tbody>
            {% for match in last_matches['matches'] %}
              <tr>
                <td><code>{{match['gameId']}}</code></td>
                <td>
                  <img
                    src="http://ddragon.leagueoflegends.com/cdn/{{settings['latest_release']}}/img/champion/{{match['champion_name']}}.png"
                    width="30px"></img>
                  {{match['champion_name']}}
                </td>
                <td>
                  {% if match['lane'] != "NONE" %}
                  {{match['lane']}}
                  {% endif %}
                </td>
                <td>
                  {{match['datetime_readable']}}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!-- /col -->
    {% endif %}

    {% if plot and plot["most_played_champs"] %}
      <div class="col-5">
        <h2>Most played champions</h2>
        <canvas id="plot_most_played_champs"></canvas>

        <script type="text/javascript">
          var data = {{ plot.most_played_champs| tojson | safe}};
          var max_played = Math.max(...data.datasets[0].data);
        </script>

        <script type="text/javascript">
          var ctx = document.getElementById('plot_most_played_champs').getContext('2d');
          var config = {
            type: "bar",
            data: data,
            options: {
              responsive: true,
              legend: {
                position: 'bottom',
                display: false
              },
              title: {
                display: false,
                // text: 'Most played champions'
              },
              scales: {
                yAxes: [{
                  ticks: {
                    min: 0,
                    stepSize: 1,
                    max: max_played + 1
                  }
                }]
              }
            }
          };
          var chart = new Chart(ctx, config);
        </script>

      </div><!-- /col -->
    {% endif %}

  </div><!-- /row -->


  {% if success["history_tree_champ"] or success["history_tree_lane"] %}
    <div class="row">

      {% if success["history_tree_champ"] %}
        <div class="col-6">
          <h2>History tree (by champion)</h2>
          <div id="history_tree_champ_div"></div>
        </div><!-- /col -->

        <script type="text/javascript">
          var history_tree_champ_data = {{history_tree_champ_data|tojson|safe}};
        </script>
      
        <script type="text/javascript">
          history_tree_champ_chart_config = {
            chart: get_history_chart("#history_tree_champ_div"),
            nodeStructure: history_tree_champ_data
          };
          var my_chart = new Treant(history_tree_champ_chart_config);
        </script>
      {% endif %}

      {% if success["history_tree_lane"] %}
        <div class="col-6">
          <h2>History tree (by lane)</h2>
          <div id="history_tree_lane_div"></div>
        </div><!-- /col -->

        <script type="text/javascript">
          var history_tree_lane_data = {{history_tree_lane_data|tojson|safe}};
        </script>
      
        <script type="text/javascript">
          history_tree_lane_chart_config = {
            chart: get_history_chart("#history_tree_lane_div"),
            nodeStructure: history_tree_lane_data
          };
          var my_chart = new Treant(history_tree_lane_chart_config);
        </script>
      {% endif %}

    </div><!-- /row -->
  {% endif %}

{% endblock %}