{% extends "base.html" %}


{% block content %}
  {% if success["summoner_data"] %}
    <h1>
      <span class="text-primary">{{summoner_data.name}}</span>
      <img
        src="http://ddragon.leagueoflegends.com/cdn/{{settings['latest_release']}}/img/profileicon/{{summoner_data['profileIconId']}}.png"
        width="50px"></img>
    </h1>

    <h2>General data</h2>
    <ul>
      <li><b>Summoner level:</b> <span class="badge rounded-pill bg-success">{{summoner_data.summonerLevel}}</span></li>
    </ul>
  {% endif %}


  {% if success["last_games"] %}
    <h2>Latest games</h2>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Game ID</th>
          <th>Champion</th>
          <th>Lane</th>
          <th>Time - Date</th>
        </tr>
      </thead>
      <tbody>
        {% for game in last_games['matches'] %}
          <tr>
            <td>{{game['gameId']}}</td>
            <td>
              <img
                src="http://ddragon.leagueoflegends.com/cdn/{{settings['latest_release']}}/img/champion/{{game['champion_name']}}.png"
                width="30px"></img>
              {{game['champion_name']}}
            </td>
            <td>
              {% if game['lane'] != "NONE" %}
                {{game['lane']}}
              {% endif %}
            </td>
            <td>
              {{game['datetime_readable']}}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <a href="{{url_for('home')}}">Go back to home</a>
{% endblock %}